.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}
body {
  backface-visibility: #22254b;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.button {
  display: inline-block;
  background: rgb(153, 148, 148);
  border-radius: 9px;
  font-family: "arial-black";
  font-size: 14px;
  color: black;
  cursor: pointer;
}
.title-rating {
  display: flex;
  align-items: center;
}
.rat-btn {
  padding-left: 30px;
  padding-right: 30px;
}
.but-one {
  margin-right: 10px;
  margin-left: 10px;
}
.but-two {
  margin-left: 10px;
}

.rated {
  display: flex;
  border-spacing: 5px;
  margin-bottom: 20px;
}

.boxed {
  display: flex;
  max-width: 45%;
}
